*{
    box-sizing: border-box;
}

body{
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
}

.header{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 32px;
    padding-right: 70px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 999;
}

.menu-button{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    width: 20px;
    height: 17px;
    border: none;
    margin-right: 28px;
    cursor: pointer;
}

.menu-line{
    border-radius: 20px;
    display: block;
    background: #1F2022;
    width: 20px;
    height: 3px;
}

.logo{
    margin-right: 50px;
}

.input-group{
    background: #EBEBEB;
    border-radius: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 17px;
    max-width: 830px;
    width: 60%;
    margin-right: 40px;
}

.input-search{
    background-color: transparent;
    border: none;
    padding-left: 23px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    line-height: 20px;
    width: 100%;
}

.input-search:focus{
    outline: none;
}

.button-search{
    padding: 0;
    width: 19px;
    height: 19px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.icon-search{
    fill: #000;
}

.icons{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.icons-link{
    text-decoration: none;
    opacity: 0.24;
}

.icons-link:hover{
    opacity: 0.7;
}

.icons-link:not(:last-child){
    margin-right: 50px;
}

.user{
    margin-left: 45px;
}

.user-avatar{
    border: 1px solid transparent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.user-avatar:hover{
    border: 1px solid #ff0000;
}

.sidebar{
    position: fixed;
    width: 230px;
    left: 0;
    top: 114px;
    height: calc(100% - 114px);
    overflow-y: auto;
    padding-left: 32px;
    background-color: #fff;
}

.content{
    width: 100%;
    margin-top: 85px;
    padding-left: 260px;
    padding-top: 30px;
    height: 400px;
}

.nav-menu{
    margin-top: 0;
    margin-bottom: 60px;
    list-style: none;
    padding-left: 0;
}

.nav-item{
    margin-bottom: 28px;
}

.nav-link{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #898989;
}

.nav-link:hover{
    color: #ff0000;
}

.nav-link:hover .icon{
    fill: #ff0000;
}

.nav-item .icon{
    fill: #898989;
}

.active .icon{
    fill: #ff0000;
}

.active .nav-text{
    color: #ff0000;
}

.nav-text{
    margin-left: 13px;
    font-size: 16px;
    line-height: 20px;
}

.nav-image{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 1px solid transparent;
}

.nav-link:hover .nav-image{
    border: 1px solid #ff0000;
}

.nav-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 30px;
}

.channel, .recommended{
    position: relative;
    padding-bottom: 50px;
}

.channel-title{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #19202C;
    font-weight: bold;
    font-size: 26px;
    line-height: 33px;
    margin-bottom: 30px;
}

.channel-avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.channel-text{
    margin-left: 20px;
}

.video-thumb{
    width: 100%;
    height: 150px;
    overflow: hidden;
    border-radius: 14px;
    position: relative;
}

.thumbnail{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.video-duration{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgba(0,0,0,0.3);
    border-radius: 12px;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    padding: 3px 9px;
}

.video-title{
    font-size: 16px;
    line-height: 20px;
    color: #19202C;
    margin-top: 10px;
    margin-bottom: 4px;
}

.video-info{
    display: flex;
    font-size: 12px;
    line-height: 16px;
    color: #C2C2C2;
    align-items: center;
    justify-content: space-between;
}

.video-counter{
    display: flex;
}

.video-views{
    margin-right: 5px;
}

.video-views:after{
    content: '';
    height: 2px;
    width: 2px;
    background-color: #C2C2C2;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.recommended-title{
    display: inline-block;
    text-decoration: none;
    color: #19202C;
    font-weight: bold;
    font-size: 26px;
    line-height: 33px;
    margin-bottom: 30px;
}



.slider-buttons{
    position: absolute;
    right: 5%;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 66px;
}

.channel-button{
    cursor: pointer;
}

.recommended-title{
    color: #19202C;
    font-weight: bold;
    font-size: 26px;
    line-height: 33px;
    margin-bottom: 30px;
}

.recommended-video-thumb{
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 14px;
    position: relative;
}

.recommended-thumbnail{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.recommended-channel{
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    padding-right: 150px;
}

.recommended-channel .channel-title{
    margin-bottom: 0;
}

.channel-help-info{
    display: block;
    margin-left: 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #C2C2C2;
}

.button-subscribe{
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #ff0000;
    margin-left: auto;
    text-align: center;
}

.mobile-sidebar{
    display: none;
}

.mobile-search{
    display: none;
}

@media(max-width: 860px){
    .icons{
        display: none;
    }

    .user{
        margin-left: auto;
    }
}

@media(max-width: 640px){
    .swiper-wrapper{
        display: flex;
        flex-direction: column;
    }

    .swiper-slide{
        margin-bottom: 20px;
    }

    .video-thumb{
        height: 300px;
    }

    .thumbnail{
        height: 300px;
    }

    .menu-button{
        display: none;
    }

    .sidebar{
        display: none;
    }

    .content{
        padding-left: 32px;
        padding-right: 32px;
    }

    .mobile-sidebar{
        display: block;
        position: fixed;
        z-index: 99;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #fff;
    }

    .mobile-sidebar .nav-link{
        display: flex;
        flex-direction: column;
    }

    .nav-item{
        margin-bottom: 0;
    }

    .mobile-sidebar .nav-menu{
        margin-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 13px;
        padding-bottom: 11px;
        border-top: 1px solid #f1f1f1;
    }

    .nav-text{
        margin-left: 0;
        font-size: 10px;
        line-height: 13px;
    }

    .mobile-search{
        display: block;
        margin-left: auto;
        cursor: pointer;
    }

    .user{
        margin-left: 20px;
    }

    .input-group{
        position: fixed;
        top: -100px;
        left: 0;
        opacity: 0;
        width: 67%;
        margin-left: 32px;
        transition: top 0.2s;
    }

    .input-group.is-open{
        opacity: 1;
        top: 20px;
    }

    .hidden{
        opacity: 0;
    }

    .channel-button{
        display: none;
    }

    .recommended-channel{
        padding-right: 0;
    }

    .channel-help-info{
        max-width: 170px;
    }

    .button-subscribe{
        font-size: 12px;
        line-height: 15px;
        min-width: 130px;
    }
}

